#{extends 'main.html' /}
#{set title:'Linkedin application' /}

<div class="navbar-inverse">
   #{if accessLink}
   <span class="label label-info">Bonjour ${me.getPrenom()} ${me.getNom()} </span>
	<a href="@{recuprerContact()}">recuperer</a>
	<INPUT type="button" value="Cliquez ici" onclick="alert('${test}')">
      #{/if}
		#{else}
		#{/else}

<noscript><div class="row-fluid"><div class="span3"></div><div class="span6 text-center text-error alert"><strong> Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.</strong><p>Voici les <a href="http://www.enable-javascript.com/fr/" target="_blank"> instructions pour activer JavaScript dans votre navigateur Web</a>.</p></div><div class="span3"></div></div></noscript>
	<nav class="navbar navbar-default" role="navigation">
		<img src="/public/images/logo.png" width="200px" height="50px">
		<br/>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://www.linkedin.com">Linkedin</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    #{if accessLink}
          <li class="dropdown">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Contacts <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Récuperer les contacts</a></li>
          <li><a href="#">Supprimer les contacts</a></li>
        </ul>
      </li>
        <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Contact">
      </div>
      <button type="submit" class="btn btn-success">Chercher</button>
    </form>
     </ul>
     <div class="alert span1 alert-info">
    <strong>help !</strong></div>
  	 <ul class="nav navbar-nav navbar-right">
      <li><a href="@{logoutFrom_linkedin()}">Déconnexion</a></li>
       </ul>
      #{/if}
		#{else}
		 <li class="active"><a href="@{auth_linkedin()}">Connexion</a></li>
		  </ul>
		#{/else}  
  </div>
  <div>
  		<address class="container row-fluid">
					#{list items:listeContactsReduit, as:'contact'}
					<div class="span6">
						<a href="#" target="_blank"><strong>
							${contact.getNom()}
						</strong></a>
						
					</div>
						#{/list}
				</address>
  </div>
</nav>
</div>
